cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
numpy==2.0.1
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.2
pillow==10.4.0
pycparser==2.22
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
